*~
*.suo
*.map
*.ilk
*.ncb
*.user
ExecuteEnv/components/*.dat
ExecuteEnv/Default.bak.dfg
ExecuteEnv/Default.dfg
ExecuteEnv/DonutG.INI
ExecuteEnv/DonutG.exe
ExecuteEnv/RecentClose.ini
ExecuteEnv/WordHistory.ini
ExecuteEnv/DonutG.html
src/Debug/
src/Release/
atliface*